p {
    color: red;
    background-color: aqua;
    font-size: 100px;
    font-style: italic;
}

.special-paragraph {
    color: green;
    background-color: red;
    font-weight: 800;
}

div {
    
}