@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
background: #D9D9D9;
}

a {
    text-decoration: none;
    color: black;
}

.main-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 68rem;
    margin-left: 10%;
    margin-right: 10%;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.grid-story {
    background-color: rbga(255,255,255,0.25);
    height: auto;
    width: auto;
    margin: 1em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border: 2px solid grey;
    border-radius: 10px;
    display: block;
}

.grid-story-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: white;
    border-radius: 10px;
}



.grid-story:hover .grid-story-overlay {
    opacity: .5;
}

/* Page title */
h1 {
    width: auto;
    height: auto;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    margin-top: 1em;
}

.sub-title {
    width: auto;
    height: auto;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    margin-top: 0;
}

img {
    height: 16rem;
    width: 32rem;
    object-fit: cover;
    
    border-radius: 8px 8px 0 0;;
    margin-bottom: 1em;
    
}

.story-title {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
}

.story-information {
    margin-bottom: 1em;
    padding-left: 1em;
}

.story-author {
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    margin: 0;

}


/* Abstract about the course */

.abstract {
width: auto;
height: auto;

font-family: 'Public Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
text-align: center;

color: #000000;
}


/* body-text */

.body-text {

width: auto;
height: auto;
font-family: 'Public Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #000000;
}


/* author-byline */

.byline {
width: 238px;
height: 30px;

font-family: 'Public Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #000000;
}